:root {
	--primary: #43B9B7;
	--secondary-dark: #28597F;
	--secondary-light: #8BF4A7;
	--contrast-primary: #EF7432;
	--contrast-secondary-light: #EFB94C;
	--contrast-secondary-dark: #D1331B;
	--light: #D5E2EB;
	--dark: #2F3D4C;
	--header-height: 3.2rem;
}

body,
.site-header {
	transition: color 0.2s ease, background-color 0.2s ease;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-size: 1.8rem;
	padding-top: calc(var(--header-height) + 2px);
}

body.light {
	--background: var(--light);
	--text: var(--dark);
	--standard: var(--primary);
	--standard-highlight: var(--secondary-dark);
	--contrast: var(--contrast-primary);
	--contrast-highlight: var(--contrast-secondary-dark);
}

body.dark {
	--background: var(--dark);
	--text: var(--light);
	--standard: var(--primary);
	--standard-highlight: var(--secondary-light);
	--contrast: var(--contrast-primary);
	--contrast-highlight: var(--contrast-secondary-light);
}

a,
a:link {
	color: var(--standard);
}

a:hover {
	color: var(--standard-highlight);
}

a:visited {
	color: var(--contrast);
}

a:visited:hover {
	color: var(--contrast-highlight);
}
